- var getRandomNumber = function (min, max) {
- 		return Math.round(Math.random() * (max - min) + min);
- };

- var w = 200
- var h = 100
- var minPoints = 4
- var maxPoints = 6
- var dotIndent = 3

- var createLinePath = function () {
- 	var pointsAmount = getRandomNumber(minPoints, maxPoints);
- 	var points = [];


- 	for(var i = 0; i < pointsAmount; i++){
- 	var point = {};
- 	var currentX;

	case i
		when 0
			- point.x = 5;
			- point.y = getRandomNumber(dotIndent, h-dotIndent);
		when pointsAmount - 1
			- point.x = w-dotIndent;
			- point.y = getRandomNumber(dotIndent, h-dotIndent);
		default
			- point.x = currentX = getRandomNumber(currentX || 10, w-30);
			- point.y = getRandomNumber(dotIndent, h-dotIndent);

- 		points.push(point);
- 	};

- return(points);
- };



