$char-width: 150px
$char-height: 75px

.char
	width: $char-width
	height: $char-height
	transform-style: preserve-3d
	position: absolute
	right: 50px
	top: 50px
	transform: translateZ(100px)
	+g(transparent, $white)
	vertical-align: middle
	border: 1px solid $white
	border-width: 0 0 1px 1px
	&:after
		content: ""
		position: absolute
		left: 0
		bottom: 1px
		border-bottom: 1px solid $white
		width: $char-width
		height: 10px*2
		+g(transparent, $white)
		transition: transform .4s ease
		transform: rotateX(-90deg)
		transform-origin: 0 100% 0
	&:before
		content: ""
		position: absolute
		left: 0
		top: 0
		border-left: 1px solid $white
		width: 10px*2
		height: $char-height
		+g(transparent, $white)
		transition: transform .4s ease
		transform: rotateY(-90deg)
		transform-origin: 0 100% 0
	&_line
		transition: transform .4s ease
		transform: translateZ(10px) //skewX(-20deg)
		&-wrap
			fill: none
			stroke: $fire-brick
			stroke-width: 2
		&-points-wrap
			fill: $fire-brick
			stroke-width: 0