-var linePath = createLinePath()

#char.char
	svg.char_line(x="0" y="0" width="100%" height="100%" viewBox="0 0 200 100")
		g
			- 	for(var i = 0; i < linePath.length-1; i++)
					- var begin = linePath[i]
					- var y = i+1
					- var end = linePath[i+1]
					line(x1=begin.x y1=begin.y x2=end.x y2=end.y "/")/
		//- polyline(points="10,90 20,60 40,80 60,20" "/")/
