extends ./layout/default_layout.jade

block title_name
	title=title
	link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Cookie|Roboto+Slab:700|Roboto:700,500|PT+Sans:700")
	//- meta(property="og:locale" content="en_GB")
	//- meta(property="og:type" content="website")
	//- meta(property="og:title" content=header.logo)


block header
	include ../elements/header/header

block main_content




