.progres-bar#progres_bar
	svg.progres-bar_svg(width="150" height="30" viewBox="0 0 150 30")
		rect.progres-bar_svg-border()
		rect.progres-bar_svg-progres()
		line(x1="1", y1="3", x2="1", y2="8" )
		line(x1="75", y1="3", x2="75", y2="8" )
		line(x1="149", y1="3", x2="149", y2="8")
