.case-item#case_item
	.case-item_char
		include ../char/char
	.case-item_pie-char
		include ../pie-char/pie-char
	.case-item_progress-bar
		include ../progress-bar/progress-bar
	.case-item_bio-list
		include ../bio-list/bio-list
	.case-item_hero
		include ../hero/hero
